<p id="notice"><%= notice %></p>

<h1>Listing Providerservices</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Providerprofile</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @providerservices.each do |providerservice| %>
      <tr>
        <td><%= providerservice.name %></td>
        <td><%= providerservice.description %></td>
        <td><%= providerservice.providerprofile %></td>
        <td><%= link_to 'Show', providerservice %></td>
        <td><%= link_to 'Edit', edit_providerservice_path(providerservice) %></td>
        <td><%= link_to 'Destroy', providerservice, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Providerservice', new_providerservice_path %>
