<p id="notice"><%= notice %></p>

<p>
  <h3><%= @providerprofile.name %></h3>
</p>

<p>
  <strong>Description:</strong>
  <%= @providerprofile.description %>
</p>

<p>
  <strong>Address:</strong>
  <%= @providerprofile.address %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @providerprofile.phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @providerprofile.email %>
</p>

<p>
  <h3>Services</h3>
  <div class="row">
    <div class="col-md-4">
      <table class="table">
        <% @providerprofile.providerservices.each do |providerservice| %>
        <tr>
          <td><%= providerservice.name %></td>
          <td><%= providerservice.description %></td>
        </tr>
        <% end %>
      </table>
    </div>
  </div>
</p>

<%= link_to 'Edit', edit_providerprofile_path(@providerprofile) %> |
<%= link_to 'Back', pages_maptest_path %>
