<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @providerprofile.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @providerprofile.description %>
</p>

<p>
  <strong>Address:</strong>
  <%= @providerprofile.address %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @providerprofile.phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @providerprofile.email %>
</p>

<p>
  <strong>Services</strong>
  <% @providerprofile.providerservices.each do |providerservice| %>
    <%= providerservice.name %>
    <%= providerservice.description %>
  <% end %>
</p>

<%= link_to 'Edit', edit_providerprofile_path(@providerprofile) %> |
<%= link_to 'Back', providerprofiles_path %>
