<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">BrandName</a>
    </div>
 
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      
      
      <ul class="nav navbar-nav navbar-right">
        <% if current_customer %>
          <li><%= link_to "Settings", edit_customer_registration_path %></li>
          <li><%= link_to "Log Out", destroy_customer_session_path, method: :delete %></li>
        <% else if current_provider %>
          <li><%= link_to "Settings", edit_provider_registration_path %></li>
          <li><%= link_to "Log Out", destroy_provider_session_path, method: :delete %></li>
        <% else %>
          <li><%= link_to "Login as Customer", new_customer_session_path %></li>
          <li><%= link_to "Login as Provider", new_provider_session_path %></li>
        <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>